<div class="fieldset">
    <vaadin-combo-box label="Search" [items]="tableNames" item-label-path="name" item-value-path="entity" [(value)]="selectedEntityName"
        (selected-item-changed)="selectedItem=$event.detail.value; getNewEntity($event.detail.value)"></vaadin-combo-box>
</div>

<div *ngIf="selectedItem">
    <div style="margin-top: 40px;">
        <h3>{{selectedItem.name ? "The currently selected table is: " + selectedItem.name : "No Table Selected"}}</h3>
    </div>
</div>

<div *ngIf="selectedEntityName">
    <div style="margin-top: 40px;">
        <h3>The currently selected entity is: {{selectedEntityName}}</h3>
    </div>

    <query [entityObj]="selectedEntity"></query>
</div>