<div class="row">
    <div class="col-lg-16 filter-section">
        <md-card>
            <vaadin-combo-box label="Search" [items]="tableNames" item-label-path="name" item-value-path="entity" [(value)]="selectedEntityName"
                (selected-item-changed)="selectedTable=$event.detail.value; getNewEntity($event.detail.value)">
                <paper-icon-button icon="remove-circle" class="clear-button"></paper-icon-button>
            </vaadin-combo-box>
        </md-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-16 filter-section">
        <md-card>
            <!--[entityObj]="selectedEntity" -->
            <query [tableName]="selectedTable?.name"></query>
        </md-card>
    </div>
</div>