<h1>
    ui-wrapper testing...
</h1>

<div class="fieldset">
    <vaadin-combo-box #vcb label="Tables" [items]="tableNames" [(value)]="selectedTable"
    (selected-item-changed)="onSelection($event.detail.value)"></vaadin-combo-box>
</div>

<div style="margin-top: 40px;">
    <h3>{{selectedTable ? "The currently selected table is: " + selectedTable : "No Table Selected"}}</h3>
</div>

<div style="margin-top: 40px;" *ngIf="entityDescription">
    <h3>The currently selected entity is: {{tableMetadata[vcb.value].Name}}</h3>
</div>

<query [description]="entityDescription"></query>