<!--TODO: strip all functionality that is not strictly form related such as displaying or receiving data to and from form inputs-->

<div *ngFor="let model of modelArray" style="display: inline-block">

    <paper-button [ngClass]="model === modelArray[0] ? 'clr' : 'del'" *ngIf="model === modelArray[modelArray.length - 1] && modelArray[modelArray.length - 1].isActive === true"
        (click)="clearForm(model);">{{model === modelArray[0] ? 'Clear' : '-'}}</paper-button>

    <paper-input label="Clause" *ngIf="model === modelArray[0]" disabled [value]="model.sqlClause" style="width: 6em; margin-left: .8em; margin-right: .8em; display: inline-block;">
    </paper-input>

    <vaadin-combo-box *ngIf="model !== modelArray[0]" label="Clause" [items]="sqlClause" [(value)]="model.sqlClause" [disabled]="!model.isActive"
        style="width: 6em; margin-left: .8em; margin-right: .8em; display: inline-block;">
        <paper-icon-button icon="remove-circle" class="clear-button"></paper-icon-button>
    </vaadin-combo-box>


    <vaadin-combo-box [disabled]='!model.isActive' label="Select a Field" style="width: 286px; margin-left: .8em; margin-right: .8em; display: inline-block;"
        [items]="entityProperties" item-label-path="DisplayName" item-value-path="Property" [(value)]="model.field" (selected-item-changed)="model.dataType = $event.detail.value?.DataType; Enum = $event.detail.value.Enum; getOperators(model)">
        <paper-icon-button icon="remove-circle" class="clear-button"></paper-icon-button>
    </vaadin-combo-box>


    <vaadin-combo-box [disabled]='!model.isActive' style="width: 224px; margin-left: .8em; margin-right: .8em; display: inline-block;"
        label="Comparitor" [items]="comparisonOperators" item-label-path="operator" item-value-path="operator" [(value)]="model.comparisonOperator">
        <paper-icon-button icon="remove-circle" class="clear-button"></paper-icon-button>
    </vaadin-combo-box>

    <div [ngSwitch]="model.dataType" style="display:inline-block">

        <vaadin-date-picker *ngSwitchCase=" 'DateTime' " [attr.readonly]="!model.comparisonOperator || null" [disabled]='!model.isActive'
            [(value)]="model.condition" label="Date" style="width: 370px; margin-left: .8em; margin-right: .8em;"></vaadin-date-picker>

        <!-- allow-empty-selection can be used on the control below-->
        <paper-radio-group *ngSwitchCase=" 'Boolean' " [(selected)]="model.condition" style="width: 396px">
            <paper-radio-button name="true" [attr.disabled]="(!model.comparisonOperator || !model.isActive) || null">True</paper-radio-button>
            <paper-radio-button name="false" [attr.disabled]="(!model.comparisonOperator || !model.isActive) || null">False</paper-radio-button>
        </paper-radio-group>

        <vaadin-combo-box *ngSwitchCase=" 'Enum' " [attr.readonly]="!model.comparisonOperator || null" [disabled]='!model.isActive'
            label="Options" [items]="enumMetaData?.EnumMembers" item-label-path="AdvancedDescriptor" item-value-path="Name" [(value)]="model.condition"
            style="width: 370px; margin-left: .8em; margin-right: .8em; display: inline-block;">
            <paper-icon-button icon="remove-circle" class="clear-button"></paper-icon-button>
        </vaadin-combo-box>

        <paper-input *ngSwitchDefault [attr.readonly]="!model.comparisonOperator || null" [disabled]='!model.isActive' [(value)]="model.condition"
            label="Condition" style="width: 370px; margin-left: .8em; margin-right: .8em;"></paper-input>

        <!--The below SwichCase is unusable at the moment until further updates to the api and data-model allow for time as an attribute
            to identify datetime properties explicitly as time or date-->
        <!--<div *ngSwitchCase=" 'DateTime' ">
            <paper-input [disabled]='!model.isActive' (focus)="openDialog(model)" [value]="model.condition" label="Time" style="width: 370px; margin-left: .8em; margin-right: .8em;">
                <iron-icon icon="schedule" class="time-icon" suffix></iron-icon>
            </paper-input>

            <paper-dialog modal id="dialog" class="paper-time-picker-dialog" on-iron-overlay-closed="dismissDialog">
                <paper-time-picker id="timePicker" animated=" 'true' " [(time)]="model.condition"></paper-time-picker>
                <div class="buttons">
                    <paper-button dialog-dismiss>Cancel</paper-button>
                    <paper-button dialog-confirm>OK</paper-button>
                </div>
            </paper-dialog>
        </div>-->

    </div>
    <paper-button class="exe" *ngIf="model === modelArray[modelArray.length - 1] && modelArray[modelArray.length - 1].isActive === true"
        (click)="addToQuery(model);">+</paper-button>
</div>
<hr style="margin: 24px 0px 32px;" />

<div>
    <paper-button [ngClass]="{'exe': !submitted, 'del': submitted}" (click)="submitQuery()" style="position: relativee; left: 80%;"
        >{{submitted ? 'Go Back' : 'Submit'}}</paper-button>
</div>

<h4 style="margin-top: 16px;">{{testString}}</h4>